@{
    ViewData["Title"] = "Home";
}

<h1>Project Details - <b> Hashed URL Decryption </b> </h1>

<blockquote class="blockquote">
    <ol>
        <li>Using BCrypt Hash Algorithm </li>
        <li>Creating Request Handler without : Controller based </li>
        <li>Verifying Hashed string via our Salt Email List </li>
        <li>Then redirect to out Action {Home/SetPassword({with Decrypted Hash }} </li>
    </ol>

</blockquote>

<a class="btn btn-primary" asp-action="Index" asp-controller="UsingHash"> Look for details </a>
